.todo-container{
    margin: 0 auto;
    width: 50%;
    height: 400px;
    background-color: aqua;
}

.heading{
    text-align: center;
    background-color: green;
    color:#fff;
    height: 50px;
    font-size: 30px;
}

.m-1{
    margin: 10px;
}